<form action = "/" method = "get">
  <select name = "car">
    <option value="Toyota">Toyota</option>
    <option value="Ford">Ford</option>
    <option value="Honda">Honda</option>
  </select>

  <input type = "submit"></input>
</form>


<%= @cars.find_by(params[:car]).picture_url %>



