<div>
  <form id = "car_1_form">
    <h4 class = "form">Make</h4>
    <select class = "form" name = "car_1[make]">
      <option value="Toyota">Toyota</option>
      <option value="Ford">Ford</option>
      <option value="Honda">Honda</option>
    </select>

    <h4 class = "form">Years driving</h4>
    <select class = "form" name = "car_1[years_driving]">
      Years Driving
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=8>8</option>
      <option value=9>9</option>
      <option value=10>10</option>
    </select>


    <h4 class = "form">Miles per year</h4>
    <input class = "form" type = "number" name = "car_1[miles_per_year]"></input>

    <input class = "form" type = "submit"></input>
  </form>

  <form id = "car_2_form">
    <h4 class = "form">Make</h4>
    <select class = "form" name = "car_2[make]">
      <option value="Toyota">Toyota</option>
      <option value="Ford">Ford</option>
      <option value="Honda">Honda</option>
    </select>

    <h4 class = "form">Years driving</h4>
    <select class = "form" name = "car_2[years_driving]">
      Years Driving
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
      <option value=6>6</option>
      <option value=7>7</option>
      <option value=8>8</option>
      <option value=9>9</option>
      <option value=10>10</option>
    </select>


    <h4 class = "form">Miles per year</h4>
    <input class = "form" type = "number" name = "car_2[miles_per_year]"></input>

    <input class = "form" type = "submit"></input>
  </form>
</div>

<div id = "car_1_position">
</div>

<div id = "car_2_position">
</div>
